<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container" >
    <header>
    <ul class="navbar-nav" >
    <% if user_signed_in? %>
      <li><%= link_to "ホーム", root_path, method: :get %><li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><li>
      <li><%= link_to "プロフィール", edit_user_path(current_user), method: :get %></li>
      <li><%= link_to "面接登録",  new_user_interview_path(current_user), method: :get %></li>
    <% end %>
    </ul>
    </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
